<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="viewport" content="width=device-width, initiail-scale=1">

        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Template</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/reset.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <style>

            h2 {
			text-align: center;
			}
			
			.row{
				padding-left: 0px;
				padding-right: 0px;
			}

			.panel-heading{
				width: 100%;
				background-color:#888;
				color:#fff;
				padding: 15px;
				font-size: 24px;
				border-bottom: 0px;
				-webkit-box-sizing:border-box;
                -o-box-sizing: border-box;
                -ms-box-sizing:border-box;
                -moz-box-sizing:border-box;
			}

			.panel-body{
				width: 100%;
			}

			.col-md-2{
				width: 100%;
				padding: 1%;
				-webkit-box-sizing:border-box;
                -o-box-sizing: border-box;
                -ms-box-sizing:border-box;
                -moz-box-sizing:border-box;
			}


            .navbar{
                width: 100%;
            }


            .navbar-main{
                text-align: center;
                float: left;
                font-size: 20px;
                width: 25%;
    
            }

            .navbar-top{
                text-align: center;
                float: left;
                width: 25%;
            
                font-size: 20px;
                margin-top: 2px;
                
            }   

            .navbar-top2{
                text-align: center;
                float: left;
                width: 25%;
                margin-top: 10%;
                font-size: 20px;
                margin-top: 2px;
                
            }   

input[type="text"], input[type="submit"], select,  button, .back button {
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #e8e8e8;
    color: #3C9FB5; /*#bbc0c2;*/
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
	max-width: 500px;
    padding: 20px;
    font-size: 24px;
    font-family: droid sans;
    border-radius: 5px;
	display: block;
	margin: 25px auto;
}

input[type="submit"], button, .back button {
    background: #3C9FB5;
    color: white;
    margin-left: auto;
	margin-right: auto;
    font-size: 24px;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background: #9dc2ed;
}

input[type="submit"]:active, button:active {
    background: #719bcc;
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translate(120px, 0);
    -moz-transform: translate(120px, 0);
    -ms-transform: translate(120px, 0);
    -o-transform: translate(120px, 0);
    transform: translate(120px, 0);
    opacity: 0;
}
a:hover {
text-decoration: none;
color: #9dc2ed;
}

        </style>
    </head>
    <body>

<nav class="navbar navbar-static">
   <div class="container">
    <div class="navbar-header panel panel-default">
      <a class="navbar-main" href="/user"><img src="http://www.icon2s.com/img32/32x32-round-text-edit-note.png">Notas</a>
      
      <a class="navbar-top" href="/my_notes">My Notes</a>
      
      <a class="navbar-top2" href="/tutorial">Help</a>

      <a class="navbar-top" href="/logout">Log Out</a>
      <br>
      <hr style="border:solid 1px #888" width="100%">
      </div>
    </div>
</nav><!-- /.navbar -->

<!-- Begin Body -->
<div class="container">
	<div class="no-gutter row">
      		<!-- left side column -->
  			<div class="col-md-2">
              	<div class="panel panel-default" id="sidebar">
					<div class="panel-heading">Update: {{class}}</div> 
					<div class="panel-body">
						<div class="accordion" id="accordion2">
							<div class="accordion-group">
								<div id="collapseOne" class="accordion-body collapse in">
									<div class="accordion-inner">
										 <form method="post" action="/updatenote">
											<textarea name="text" rows="4" style="word-wrap: break-word; width: 100%; height: 160px;margin-top: 15px;">{{update_note}}</textarea>  
							<br><input style="display:none;" name="current_class_i" value="{{current_class_i}}">
											<input id="updateNote" type="submit" style=" text-align: center; width: 100%;" value="Update">
										</form>
										<form method="get" action="/class/{{class}}">
											<input type="submit" style="text-align:center; width: 100%;" value="Classmates' Notes">
										</form>
									</div>
								</div>
							</div>
						</div><!--/acc-->
					</div><!--/panel body-->
				</div><!--/panel-->
				</div>
      		</div><!--/end left column-->
  	</div> <!-- end gutter row -->
</div> <!-- end container -->
<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
<script>
	$("#updateNote").click(function(){
		alert("Your note has been updated!");
	});

</script>

    </body>
</html>







