<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="viewport" content="width=device-width, initiail-scale=1">

        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Template</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/css/reset.css" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="css/styles2.css" rel="stylesheet">

        <style>

           h2 {
			text-align: center;
			margin-bottom: 25px;
			}
			
			.row{
				padding-left: 0px;
				padding-right: 0px;
			}

			.panel-heading{
				width: 100%;
				background-color:#F5F5F5;
				color:#333;
				padding: 15px;
				font-size: 24px;
				border-bottom: 0px;
				-webkit-box-sizing:border-box;
                -o-box-sizing: border-box;
                -ms-box-sizing:border-box;
                -moz-box-sizing:border-box;
			}

			.panel-body{
				width: 100%;
			}

			.col-md-2{
				width: 100%;
				padding: 1%;
				-webkit-box-sizing:border-box;
                -o-box-sizing: border-box;
                -ms-box-sizing:border-box;
                -moz-box-sizing:border-box;
			}



            .navbar{
                width: 100%;
            }


            .navbar-main{
                text-align: center;
                float: left;
                font-size: 20px;
                width: 25%;
    
            }

            .navbar-top{
                text-align: center;
                float: left;
                width: 25%;
            
                font-size: 20px;
                margin-top: 2px;
                
            }   

            .navbar-top2{
                text-align: center;
                float: left;
                width: 25%;
                margin-top: 10%;
                font-size: 20px;
                margin-top: 2px;
                
            }   

		a:hover {
		text-decoration: none;
		color: #9dc2ed;
		}

        </style>
    </head>
    <body>

<nav class="navbar navbar-static">
   <div class="container">
    <div class="navbar-header panel panel-default">
      <a class="navbar-main" href="/user"><img src="http://www.icon2s.com/img32/32x32-round-text-edit-note.png">Notas</a>
      
      <a class="navbar-top" href="/my_notes">My Notes</a>
      
      <a class="navbar-top2" href="/tutorial">Help</a>

      <a class="navbar-top" href="/logout">Log Out</a>
      <br>
      <hr style="border:solid 1px #888" width="100%">
      </div>
    </div>
</nav><!-- /.navbar -->


<!-- Begin Body -->
<div class="container">
    <div class="no-gutter row">
           
          <!-- right content column-->
              <div class="col-md-2" id="content">
                <div id="sidebar" class="panel panel-default">
                    <div class="panel-heading">My Notes</div>   
                    <div class="panel-body">
                      {{#each notes}}
                        <div class="row">
                              <div class="col-md-8">
                                <h2><a href="/edit_note/{{class}}">{{class}}</a></h2>
                                  {{note}}
                                  <hr style="border: solid 1px #888;" width="100%"> 
                              </div> 
                          
                        </div>
                      {{/each}} 


                    </div><!--/panel-body-->
                </div><!--/panel-->
                  <!--/end right column-->
            </div>

    </div> <!-- end gutter row -->
</div> <!-- end container -->

    <!-- script references -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>







