<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
     {{> tracking_code_script}}
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Cabin:700);
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
-->
<style>
body {
    background: #fff;
}

#wrapper {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 5px auto;
    width: 100%;
}

.box {
    background: #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    padding: 25px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 1px #e9e9e9;
}

#signup input[type="text"], #signup input[type="password"], #signup button, .back button {
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #ecf2f4;
    color: #bbc0c2;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
	max-width: 500px;
    padding: 20px 25px;
    font-size: 16px;
    margin: 0 0 15px;
    font-family: droid sans;
    border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#signup button, .back button {
    background: #3C9FB5;

    color: white;
    margin: 0;
    font-size: 24px;
    cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#signup button:hover {
    background: #9dc2ed;
}

#signup button:active {
    background: #719bcc;
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translate(120px, 0);
    -moz-transform: translate(120px, 0);
    -ms-transform: translate(120px, 0);
    -o-transform: translate(120px, 0);
    transform: translate(120px, 0);
    opacity: 0;
}

.flip .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    right: 250px;
    top: 50px;
}



.front {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  right:0;
}


.default {
    text-align: center;
    margin: 25px 0;
}

.default i {
    color: #f96145;
    font-size: 100px;
    margin: 0 0 10px;
    display: block;
}

.default h1 {
    font-family: Cabin;
    font-weight: 700;
    margin: 0;
    color: #aaaaaa;
}

.forgot h3{
    font-family: Cabin;
    
    text-align: center;
    font-weight: 100;
    margin: 0;
    color: #aaaaaa;

} 
.new h3{
    font-family: Cabin;

    text-align: center;
    font-weight: 100;
    margin: 0;
    color: #aaaaaa;
     text-decoration: none;

} 
.forgot a{
    color: #3C9FB5;
    text-decoration: none;

}

.new a{
    color: #aaaaaa;
    text-decoration: none;
}
</style>
    
<div id="wrapper">
	<form id="signup" class="front box" method="post" action="/">
		<div class="default"><img src="http://www.icon2s.com/img256/256x256-round-text-edit-note.png"/></i><h1>Create Account</h1></div>
		<input type="text" placeholder="Username" name="username"/>
		<input type="text" placeholder="UCSD Email" name="email" />
		<input type="password" placeholder="Password" name="password" />
		<input type="password" placeholder=" Confirm Password" />
		
		<button type="submit">Sign Up</button><br><br>
		<div class ="forgot">
			<h3><a href= "/">Back to Sign In</a></h3>
		</div>
		<div class ="new">
		</div>
	</form>
</div>
</body>
</html>