<!DOCTYPE html>

<html>
<head>
 {{> tracking_code_script}}
    <title>The App</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div id="page">
	<div id="header">
		<img src="../images/silLogo.png" />
	</div>
	<h1>Log In</h1>
	<form id="signup" method="post" action="/">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" value="" required>
		<label for="email">Email:</label>
		<input type="text" id="email" name="email" value="" required>
		<br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" value="" required>
		<label for="conf_password">Confirm Password:</label>
		<input type="password" name="conf_password" value="" required>
		<br><br>
		<input id="userBtn" type="submit" value="Submit">
	</form>
</div>
</body>
</html>