<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
    
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Cabin:700);
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
-->
<style>


body {
    background: #fff;
}



.row{

    padding-left: 1%;
    padding-right: 1%;
}

.panel-heading{
    font-size: 25px;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;

}

.panel-body{
    width: 100%;
}





    .navbar{
        width: 100%;
    }


    .navbar-main{
        text-align: center;
        float: left;
        font-size: 20px;
        width: 25%;

    }

    .navbar-top{
        text-align: center;
        float: left;
        width: 25%;
    
        font-size: 20px;
        margin-top: 2px;
        
    }   

    .navbar-top2{
        text-align: center;
        float: left;
        width: 25%;
        margin-top: 10%;
        font-size: 20px;
        margin-top: 2px;
        
    }   





#wrapper {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 5px auto;
    width: 100%;
}

.box {
    background: #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    padding: 25px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 1px #e9e9e9;
}

#login input[type="text"], #login input[type="password"], #login button, .back button {
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #e8e8e8;
    color: #bbc0c2;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 25px;
    font-size: 16px;
    margin: 0 0 15px;
    font-family: droid sans;
    border-radius: 5px;
}

#login button, .back button {
    background: #8eb5e2;
    color: white;
    margin: 0;
    font-size: 24px;
    cursor: pointer;
}

#login button:hover {
    background: #9dc2ed;
}

#login button:active {
    background: #719bcc;
}

[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translate(120px, 0);
    -moz-transform: translate(120px, 0);
    -ms-transform: translate(120px, 0);
    -o-transform: translate(120px, 0);
    transform: translate(120px, 0);
    opacity: 0;
}

.flip .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    right: 250px;
    top: 50px;
}

.flip .back {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    z-index: 10;
    right: 0;
    top: 50px;
}

.front {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  right:0;
}


.default {
    text-align: center;
    margin: 25px 0;
}

.default i {
    color: #f96145;
    font-size: 100px;
    margin: 0 0 10px;
    display: block;
}

.default h1 {
    font-family: Cabin;
    font-weight: 700;
    margin: 0;
    color: #aaaaaa;
}

.forgot h3{
    font-family: Cabin;
    
    text-align: center;
    font-weight: 100;
    margin: 0;
    color: #aaaaaa;

} 
.new h3{
    font-family: Cabin;

    text-align: center;
    font-weight: 100;
    margin: 0;
    color: #aaaaaa;
     text-decoration: none;

} 
.forgot a{
    color: ##3C9FB5;
    text-decoration: none;

}
iframe {
width: 100%;
max-width: 550px;
}}



}

</style>

<body>

<nav class="navbar navbar-static">
   <div class="container">
    <div class="navbar-header">
      <a class="navbar-main" href="/user"><img src="http://www.icon2s.com/img32/32x32-round-text-edit-note.png">Notas</a>
      
      <a class="navbar-top" href="/my_notes">My Notes</a>
      
      <a class="navbar-top2" href="/tutorial">Help</a>

      <a class="navbar-top" href="/logout">Log Out</a>
      <br>
      <hr style="border:solid 1px #888" width="100%">
          
      <!--
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classes</a>
            <ul class="dropdown-menu">
              <li><a href="#">Sub-link</a></li>
              <li><a href="#">Sub-link</a></li>
              <li><a href="#">Sub-link</a></li>
              <li><a href="#">Sub-link</a></li>
              
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
                    <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
                </form>
             </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">Logout</a></li>
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">About</a></li>
             </ul>
          </li>
        </ul>
          
      -->


      </div>
    </div>
</nav><!-- /.navbar -->





<div id="wrapper">
    <form id="login" class="front box" method="get" action="/signup">
		<div class="default"><img src="http://www.icon2s.com/img128/128x128-round-text-edit-note.png"/></i><h1>Watch Tutorial</h1></div>
		<div style="text-align: center;">
			<iframe height="315" src="https://www.youtube.com/embed/eWXOurnVTYg?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>

	</form>
</div>
</body>
</html>