<!DOCTYPE html> 
<html> 
	<head>


		{{> tracking_code_script}}

		
    	<title>tutorial</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css">
    	<link rel="stylesheet" type="text/css" href="../css/style.css">



	</head>

	<body id="subpage">
		<div id="header">
			<img src="images/silLogo.png" />
		</div>

		<h1>Watch Video</h1>
		<div style="text-align: center;">
  			<iframe width="420" height="315" src="https://www.youtube.com/embed/eWXOurnVTYg?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>

		<div id="to_Register">
			<form method="get" action="/signup">
					<input id="help1" type="submit" value="Sign Up">

			</form>
		</div>





	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="/js/introHCI.js"></script>

	<script>
        

        $("#help1").click(function() {
            
            woopra.track("version_b_help");

        });        

	</body> 
</html>