.clear_floats {
    clear:  both;
}

#page {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    font-size: 48px;
    margin-bottom: 15px;
    text-align: center;
}

h1 {
    text-align: center;
}

nav#main_nav {
    text-align: center;
}

nav#main_nav div.nav_sections {
    width: 30%;
    margin-right: 5%;
    float: left;
}

nav#main_nav div#transportation {
    margin-right: 0%;
}

nav#main_nav div.nav_sections img {
    width: 100%;
    margin-top: 15px;
}